@model IEnumerable<Week06.Models.Image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookTitle)
                </td>
                <td>
                    @* You should put references so that the next dev will know what happened. It is
                        all about self documenting codes.*@
                    @* https://stackoverflow.com/questions/5248273/image-display-on-mvc-view *@
                    <img class="img-thumbnail" src='@Url.Content("~/Uploads/" + item.ImagePath)' />
                    @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.ImageId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ImageId }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ImageId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @* I only render the components where it is needed otherwise I will not render it *@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/site")
}